<?xml version="1.0"?>
<config>
  <modules>
    <Spectrum_Orderattribute>
      <version>0.1.0</version>
    </Spectrum_Orderattribute>
  </modules>
  <global>
    <helpers>
      <orderattribute>
        <class>Spectrum_Orderattribute_Helper</class>
      </orderattribute>
    </helpers>
	<models>
	  <orderattribute>
		<class>Spectrum_Orderattribute_Model</class>
		<resourceModel>orderattribute_mysql4</resourceModel>
	  </orderattribute>
	</models>
	<resources>
	  <salesattribute1466060916_setup>
		<setup>
		  <module>Spectrum_Orderattribute</module>
		  <class>Mage_Sales_Model_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </salesattribute1466060916_setup>
	  <salesattribute1466060916_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </salesattribute1466060916_write>
	  <salesattribute1466060916_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </salesattribute1466060916_read>
	</resources>
	 <fieldsets>
            <sales_convert_quote>                           
                <deliveryfrom><to_order>*</to_order></deliveryfrom>
            </sales_convert_quote>

            <sales_convert_order>                                              
                <deliveryfrom><to_quote>*</to_quote></deliveryfrom>
            </sales_convert_order>
        </fieldsets>
  </global>
</config> 