<?xml version="1.0"?>
<config>
  <modules>
    <Spectrum_Setdist>
      <version>0.1.0</version>
    </Spectrum_Setdist>
  </modules>
  <frontend>
    <routers>
      <setdist>
        <use>standard</use>
          <args>
            <module>Spectrum_Setdist</module>
            <frontName>setdist</frontName>
          </args>
      </setdist>
    </routers>
		<layout>
		  <updates>
			<setdist>
			  <file>setdist.xml</file>
			</setdist>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <setdist>
        <class>Spectrum_Setdist_Helper</class>
      </setdist>
    </helpers>
	<blocks>
	  <setdist>
		<class>Spectrum_Setdist_Block</class>
	  </setdist>
	</blocks>
  </global>
</config> 