<?xml version="1.0"?>
<config>
  <modules>
    <Spectrum_Decshipping>
      <version>0.1.0</version>
    </Spectrum_Decshipping>
  </modules>
  <global>
    <helpers>
      <decshipping>
        <class>Spectrum_Decshipping_Helper</class>
      </decshipping>
    </helpers>
	<models>
	  <decshipping>
		<class>Spectrum_Decshipping_Model</class>
		<resourceModel>decshipping_mysql4</resourceModel>
	  </decshipping>
			<shipping>
				<rewrite>
					<shipping>Spectrum_Decshipping_Model_Shipping_Shipping</shipping>
				</rewrite>
			</shipping>
	</models>
  </global>
</config> 